@import '../../styles/variables';
@import '../../styles/mixins';
// @import '../../styles/inputrange';

@include synth-module-color($color-azure100);
@include range-slider-color($color-azure100, $color-azure50);
