/* Variables */

/* ----------------------------
Fonts
---------------------------- */
$font-normal: obviously, Helvetica, Arial, sans-serif;
$font-wide: obviously-wide, Helvetica, Arial, sans-serif;
$font-cond: obviously-condensed, Helvetica, Arial, sans-serif;
$font-comp: obviously-compressed, Helvetica, Arial, sans-serif;
// $font-two: urw-din-condensed, Helvetica, Arial, sans-serif;
// $font-three: urw-din, Helvetica, Arial, sans-serif;

// Default font size
// $font-base: 16px; // Set on html in _base.scss,
$base-value: 16; // Should be the same as $font-base, but without a unit. Used in mixins and functions to calculate Rem

/* ----------------------------
Colors
---------------------------- */

// <hr> color
$hr-color: #ccc;

// Synth 4/15
// App
// --- App Background
// $color-zodiac: hsla(224, 69, 15, 1); // #0C1A42
// $color-firefly: hsla(224, 62, 10, 1); // #0A1229
$color-haiti: hsla(224, 61, 8, 1); // #080F21

// Blue Module
$color-azure100: hsla(205, 100, 47, 1); //#008CF0
$color-azure50: hsla(205, 100, 47, 0.5);
$color-azure10: hsla(205, 100, 47, 0.1);
:root {
  --color-azure: 205, 100%, 47%; //#008CF0
}

// Yellow Module
$color-anzac100: hsla(33, 74, 57, 1); // #E39A40
$color-anzac50: hsla(33, 74, 57, 0.5);
$color-anzac10: hsla(33, 74, 57, 0.1);

// Red Module

// Keyboard
$color-sky100: hsla(200, 80, 66, 1); // #64C1EE
$color-sky50: hsla(200, 80, 66, 0.5);
$color-sky10: hsla(200, 80, 66, 0.1);

// Synth 4/12
// Darks
$color-shark: hsla(241, 2, 15, 1);

// Reds
$color-punch: hsla(5, 70, 53, 1);

// Blues
$color-aztek: hsla(208, 72, 15, 1); // #0B2943 Main font color
$color-biscay: hsla(208, 66, 23, 1); // #143D61 Contextual menus and some text
$color-matisse: hsla(208, 64, 36, 1); // #216097 Most blue fonts and background
$color-jellybean: hsla(208, 63, 41, 1); // #276DAA Link and button hover
// $color-poloblue: hsla(208, 48, 72, 1);
$color-malibu: hsla(208, 68, 93, 1); // #E1EEF9 Nav button hover background

$color-mariner: hsla(208, 75, 44, 1); // #1C76C4 Only used for the Focus Outline

// Gray-Blues
$color-bayou: hsla(
  208,
  29,
  35,
  1
); // #405C74 Some text where I wanted less contrast
$color-balihai: hsla(
  208,
  30,
  51,
  1
); // #5D84A7 Lighter font in the home page hero
$color-rockblue: hsla(208, 33, 69, 1); // #96B2CA Some backgrounds and borders
$color-botticelli: hsla(
  208,
  38,
  84,
  1
); // #C7D7E6 Rules/borders in the navigation and question list
$color-athens: hsla(208, 30, 91, 1); // #E1E9EF backgrounds

// Reds
$color-carmine: hsla(360, 51, 45, 1); // #AF3939 Red text, buttons, svgs
$color-chestnut: hsla(360, 48, 50, 1); // #BD4242 Red button hover
$color-rose: hsla(360, 57, 59, 1); // #D25C5C A few accents

// Others
$color-surf: hsla(166, 77, 29, 1); // #118368 Correct answer things
$color-white: hsla(0, 0, 100, 1);

// Text selection background color
$selection-color: $color-malibu; // referenced in _base

/* ----------------------------
Margins and Grid 
---------------------------- */
// Referenced in _mixins.scss
$default-page-width: 90%;
$default-grid-gap: 1.5rem;

/* ----------------------------
Element Styles
---------------------------- */

// Border Radius
$radius-tiny: 0.1875rem;
$radius-small: 0.5rem;
$radius-medium: 0.75rem;
$radius-big: 1rem;
$radius-bigger: 1.5rem;
$radius-super: 2rem;
$radius-pill: 10rem;

//Shadows
$box-shadow-big: 0 10px 40px -5px hsla(208, 29, 35, 0.4);
// $box-shadow-small: 0 5px 20px -5px hsla(208, 20, 34, 0.4),
//   0 2px 2px -2px hsla(208, 20, 34, 0.4);
$box-shadow-small: 0 12px 30px -10px hsla(208, 29, 35, 0.4),
  0 2px 2px -2px hsla(208, 29, 35, 0.4);
$box-shadow-tiny: 0 2px 2px 0 hsla(208, 29, 35, 0.3);
$box-shadow-tab-bar: 0 0px 15px 0 hsla(208, 29, 35, 0.3),
  0 -4px 2px -4px hsla(208, 29, 35, 0.3);
$box-shadow-question: 0 4px 10px 0px hsla(208, 29, 35, 0.1),
  0 2px 4px -2px hsla(208, 29, 35, 0.2);
$text-shadow: 0 0 0.75rem hsla(208, 29, 35, 0.3);
$inset-shadow: inset 0 0 0.75rem hsla(208, 29, 35, 0.3);
