@import '../styles/variables';
@import '../styles/mixins';

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  align-items: start;
  padding: 0.75rem;
  @include for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
  }
}
