@import '../../styles/variables';
@import '../../styles/mixins';

.keyboardComponent {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  background: $color-haiti;
  border-top: 3px solid $color-sky100;
}

.keyboardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.keyboard {
  position: relative;
  display: flex;
  width: 100%;
  height: 7.75rem;
  padding: 1rem 1rem 0.5rem 3rem;
  left: 0;
  transition: left 0.3s ease-out, opacity 0.3s ease-out;
}

.key {
  flex: 0 0 auto;
  position: relative;
  width: calcRem(36);
  list-style: none;
  user-select: none; // disable text selection
  // z-index: 1;
}

.whiteKey {
  top: calcRem(48); // Offsetting the top by the height of the black keys
  height: calcRem(52);
  border-radius: 0 0 $radius-pill $radius-pill;
  background: $color-sky100;
  margin-left: -2rem;
  color: $color-haiti;
  text-align: center;
}

.blackKey {
  height: calcRem(48);
  left: -1rem;
  background: $color-haiti;
  border-radius: $radius-pill $radius-pill 0 0;
  color: $color-sky100;
  text-align: center;
  // This cannot have a z-index for ::before to go behind it
}

.noFlat {
  margin-left: 0.25rem;
}

.firstSharp {
  margin-left: 0;
  &::before {
    content: '';
    position: absolute;
    display: block;
    // width: set by .cSharp and .fSharp
    height: calcRem(52);
    top: -0.25rem;
    left: -0.25rem;
    background: $color-sky100;
    border-radius: $radius-medium $radius-medium 0 0;
    z-index: -1;
  }
}

.cSharp {
  &::before {
    width: calcRem(84);
  }
}

.fSharp {
  &::before {
    width: calcRem(124);
  }
}
