/* autoprefixer grid: on */

/* Site Styles */

// Base
@import './styles/variables'; // Fonts, Colors, Page Margin and Grid Default Values
@import './styles/mixins'; // PX to Rem, Breakpoints, Page Margin and Grid Tools
@import './styles/base'; // Normalize, resets
@import './styles/helpers'; // Hidden, iInline, Colors, Margins & Padding
@import './styles/typography'; // Text styles and helpers
@import './styles/elements'; // Defaults for img, buttons, hr, ul, etc
@import './styles/inputrange'; // Sliders

html {
  background-color: $color-haiti; // the background color if you scroll too far
}

body {
  min-height: 100vh;
  padding-bottom: 12rem; // Prevent object being hidden by the keyboard
  background: $color-haiti;
  // background: #ddd;
}
